@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --ui-border-color : theme(colors.gray.200);
        --form-border-color : theme(colors.gray.300);
        --feedback-border-color : var(--ui-border-color);
        --vtooltip-border-color:theme(colors.gray.700);

        --ui-soft-bg : theme(colors.gray.100);
        --accordion-bg : theme(colors.gray.100);
        --input-bg : theme(colors.gray.200);
        --tabs-bg : var(--input-bg);
        --feedback-bg : theme("colors.white/var(--feedback-bg-opacity)");
        --overlay-bg: theme("colors.gray.900/0.5");

        --display-text-color: theme(colors.gray.950);
        --title-text-color: theme(colors.gray.950);
        --caption-text-color : theme(colors.gray.500);
        --body-text-color : theme(colors.gray.600);
        --placeholder-text-color : theme(colors.gray.400);

        --area-primary-stroke:theme(colors.primary.600);
        --area-secondary-stroke:theme(colors.secondary.600);
        --area-accent-stroke:theme(colors.accent.600);
        --area-gray-stroke:theme(colors.gray.600);
        --area-neutral-stroke:theme(colors.gray.950);
        --vtooltip-border-color:var(--ui-border-color);
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --accordion-bg : theme(colors.gray.900);
            --ui-border-color : theme(colors.gray.800);
            --form-border-color : theme(colors.gray.700);
            --ui-soft-bg : theme(colors.gray.900);
            --feedback-bg : theme("colors.gray.900/var(--feedback-bg-opacity)");
            --ui-bg:theme(colors.gray.900);
            --body-text-color : theme(colors.gray.400);
            --input-bg : theme(colors.gray.800);

            --area-neutral-stroke:theme(colors.white);
            --display-text-color: theme(colors.white);
            --title-text-color: theme(colors.white);
        }
    }
} 
