@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 dark:bg-gray-950;
}

@layer base {
    :root {
        --ui-border-color : theme(colors.gray.200);
        --ui-soft-bg : theme(colors.gray.100);
        --ui-bd-blur : theme(blur[2xl]);
        --ui-bg:theme(colors.white);
        --form-border-color : theme(colors.gray.300);
        --card-padding : theme(spacing[6]);
        --accordion-bg : theme(colors.gray.100);
        --accordion-radius : theme(borderRadius.xl);
        --feedback-radius : theme(borderRadius.xl);
        --feedback-bg : theme("colors.white/var(--feedback-bg-opacity)");
        --feedback-padding : var(--card-padding);
        --feedback-bg-opacity : theme(opacity[100]);
        --feedback-border-color : var(--ui-border-color);
        --annonce-radius : 2rem;
        --btn-radius : 0.5rem;
        --calendar-radius : var(--btn-radius);
        --menu-radius : 1rem;
        --overlay-bg: theme("colors.gray.800/0.5");
        --overlay-backdrop-blur: theme(blur[none]);
        --avatar-radius : 9999px;
        --accordion-padding : 1rem;
        --caption-text-color : theme(colors.gray.500);
        --body-text-color : theme(colors.gray.600);
    }
    .border, .border-t, .border-b, .border-l, .border-r, .border-y, .border-x {
        border-color: var(--ui-border-color);
    }
    .feedback-bg{
        @apply bg-[var(--feedback-bg)] backdrop-blur-[var(--ui-bd-blur)];
    }
    .fancy-border {
        @apply border-[0.5px] dark:border-gray-950 !outline !outline-[0.5px] -outline-offset-[1.5px] !outline-white/5 dark:!outline-[--ui-border-color];
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --accordion-bg : theme(colors.gray.900);
            --ui-border-color : theme(colors.gray.800);
            --form-border-color : theme(colors.gray.700);
            --ui-soft-bg : theme(colors.gray.900);
            --feedback-bg : theme("colors.gray.900/var(--feedback-bg-opacity)");
            --feedback-bg-opacity : theme(opacity[100]);
            --ui-bg:theme(colors.gray.900);
            color : theme("colors.white");
        --body-text-color : theme(colors.gray.400);
        }
    }
}